body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 20px 100px 0px 100px;
    background: #f3f3f3;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

textarea {
    width: 100%;
    max-width: 500px;
    height: 100px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    margin: 0;
    padding: 14px 16px;
    overflow: hidden;
    text-align: center;
}

.footer a {
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footer a:hover {
    color: black;
}
