{"filter":false,"title":".gitignore","tooltip":"/html/lab4/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1574366425649,"hash":"1a2525b65bb98e4b6c51599021beacf2d7c9dc49"}