body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: #fff;
  padding: 0px;
  margin: 0px;
}

/* Header */
.header {
  display: flex;
  padding: 20px 100px 0px 100px;
  background-color: #5BDEFF;
  color: #fff;
}

.title h1 {
  margin: 0px;
}

p {
  color: gray;
  overflow-wrap: break-word;
}

/* Footer */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    margin: 0;
    padding: 14px 16px;
    overflow: hidden;
    text-align: center;
}

a {
    color: gray;
    padding: 20px 100px;
    text-decoration: none;
}

.footer a {
    text-align: center;
}

a:hover {
    color: black;
}

/* Content */
.content {
  padding: 20px 100px 0px 100px;
}

/* Admin */
.heading {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.heading h2 {
  margin: 0px;
  margin-left: 10px;
}

/* Form */
input, textarea, select, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

.form {
  margin-right: 50px;
}

img {
  max-width: 100px;
  display: inline;
  vertical-align: middle;
}
